<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <link href="/scss/global.css" rel="stylesheet" type="text/css">
    <title><%= pagetitle %></title>
</head>
<body>
    <div class="container-fluid admin_dashboard">
        <%- include('partials/sidebar.ejs') %>
        <div class="dashboard_view container-fluid">
            <%- include('partials/topbar.ejs') %>
            <div class="dashboard_stats container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="dashboard_stats_cards">
                            <h4>Projects</h4>
                            <h3>Total</h3>
                            <h3 id="total-project">0</h3>
                            <a href="/admin/projects">Know more</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="dashboard_stats_cards">
                            <h4>Team</h4>
                            <h3>Total</h3>
                            <h3 id="total-team"></h3>
                            <a href="/admin/employees">Know more</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="dashboard_stats_cards">
                            <h4>Customer</h4>
                            <h3>Total</h3>
                            <h3 id="total-customer">0</h3>
                            <a href="/admin/customers">Know more</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="dashboard_stats_cards">
                            <h4>Tickets</h4>
                            <h3>Total</h3>
                            <h3 id="total-ticket">0</h3>
                            <a href="/admin/tickets">Know more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const Base_url = "<%= url %>";
        const token = "<%= usertoken %>";
        const userid = "<%= userid %>";
        const profile = "<%= profile %>";
    </script>
    <script src="/js/validation.js"></script>
    <script src="/js/commonController.js"></script>
</body>
</html>