<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <link href="/scss/global.css" rel="stylesheet" type="text/css">
    <title><%= pagetitle %></title>
</head>
<body>
    <div class="container-fluid admin_dashboard">
        <%- include('partials/sidebar.ejs') %>
        <div class="dashboard_view container-fluid">
            <%- include('partials/topbar.ejs') %>
            <div class="add_btn_container">
                <button data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Team</button>
            </div>
            <div class="table_view container-fluid" id="employee_table">

            </div>
        </div>
    </div>
     <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Team Member <% if(profile == 'admin' || profile == 'Admin') { %> / Reporting Manager <% } %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="employee" class="modal_to_add">
            <div class="col-12">
                <div class="form-floating mb-3">
                  <input type="email" name="name" class="form-control" id="floatingInput" placeholder="Enter name">
                  <label for="floatingInput">Name</label>
                </div>
                <div class="form-group mb-3">
                  <select name="role" class="form-select">
                    <option value="">--Select Role--</option>
                    <% if(profile == 'admin') { %>
                    <option value="Manager">Reporting Manager</option>
                    <% } %>
                    <option value="Team Member">Team Member</option>
                  </select>
                </div>
                <div class="form-group mb-3">
                  <select name="project" class="form-select" id="project-option">
                  </select>
                </div>
            </div>
          
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary theme-btn" onclick="handleForm('employee');">Add</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    const Base_url = "<%= url %>";
    const token = "<%= usertoken %>";
    const userid = "<%= userid %>";
    const profile = "<%= profile %>";
  </script>
  <script src="/js/validation.js"></script>
  <script src="/js/employeeController.js"></script>
</body>
</html>