<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <link href="/scss/global.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
    type="text/css" />
  <title>
    <%= pagetitle %>
  </title>
</head>

<body>
  <div class="container-fluid admin_dashboard">
    <%- include('partials/sidebar.ejs') %>
      <div class="dashboard_view container-fluid">
        <%- include('partials/topbar.ejs') %>
          <div class="add_btn_container">
            <% if(profile=='admin' || profile=='Admin' ) { %>
              <select name="project" class="form-control project-select" id="project-option"
                onchange="ticketOfProject()"></select>
              <% } %>
                <% if(profile !='employee' && profile !='Employee' ) { %>
                  <button data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Create Ticket
                  </button>
                  <% } %>
                    <% if(profile !='admin' || profile !='Admin' ) { %>
                      <div id="existingProject" class="existing-project"></div>
                      <% } %>
          </div>
          <div class="table_view container-fluid" id="ticket_table"></div>
      </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Create Ticket</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="ticket" class="modal_to_add">
            <div class="form-group mb-3">
              <select name="project" class="form-control project-select" id="project-option">
                <option value="">select project</option>
              </select>
            </div>
            <div class="form-group mb-3">
              <textarea name="subject" rows="3" class="form-control" placeholder="Subject of Ticket"></textarea>
            </div>
            <div class="form-group mb-3">
              <!-- <label>Description of ticket</label> -->
              <!-- <div id="ticket-description">

              </div> -->
              <textarea name="description" rows="5" class="form-control" placeholder="Description of Ticket"></textarea>
            </div>
            <div class="row mt-3">
              <div class="form-group col-4 mb-3">
                <select name="type" class="form-control">
                  <option value="">--Select Ticket Type--</option>
                  <option value="Feature Request">Feature Request</option>
                  <option value="Task">Task</option>
                  <option value="Bug">Bug</option>
                  <option value="Story">Story</option>
                </select>
              </div>
              <div class="form-group col-4 mb-3">
                <select name="priority" class="form-control">
                  <option value="">--Select Ticket Priotity--</option>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
              </div>
              <div class="form-group col-4 mb-3">
                <select name="status" class="form-control">
                  <option value="">--Select Ticket Status--</option>
                  <option value="New">New</option>
                  <option value="Open">Open</option>
                  <option value="Closed">Closed</option>
                  <option value="Reopen">Reopen</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" onclick="handleForm('ticket');">
            Create Ticket
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade ticket_des_modal" id="ticket_detail_modal" tabindex="-1"
    aria-labelledby="ticket_detail_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header ">
          <div class="ticket_des_header">
            <h5 class="modal-title" id="ticket_no"></h5>
            <h5 class="modal-title" id="ticket_subject"></h5>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <div class="ticket_des_body">
            <div class="des_text">
              <p id="ticket_des_text"></p>
            </div>
            <div class="ticket_details_bar">
              <div class="ticket_det_bar_header">
                <h5>Ticket Details</h5>
              </div>
              <div class="ticket_details_body_bar">
                <div class="ticket_details_assign_details">
                  <p>Created By</p>
                  <p id="createdby__detail"></p>
                </div>
                <div class="ticket_details_assign_details">
                  <p>Assign To</p>
                  <p id="assigner_detail" ></p>
                </div>
                <div class="ticket_details_assign_details">
                  <p>Ticket Type</p>
                  <p id="tickettype_detail"></p>
                </div>

                <div class="ticket_details_assign_details">
                  <p>Status</p>
                  <p id="status_detail"></p>
                </div>
                <div class="ticket_details_assign_details">
                  <p>Ticket Priority</p>
                  <p id="ticketpriority_detail"></p>
                </div>
                <div class="ticket_details_assign_details">
                  <p>created At</p>
                  <p id="createdat_detail"></p>
                </div>
                <div class="ticket_details_assign_details">
                  <p>Updated At</p>
                  <p id="updatedat_detail"></p>
                </div>
                <div class="ticket_details_assign_details">
                  <p>Estimate Time</p>
                  <p id="estimate_detail"></p>
                </div>
                <div class="ticket_details_assign_details">
                  <p>Actual Time</p>
                  <p id="actualtime_detail"></p>
                </div>

                <div class="collapse_container mt-3">
                  <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Log Time
                    </button>
                  </p>
                  <div class="collapse collapse_body" id="collapseExample">
                    <div class="card card-body">
                     <div class="log_time_container">
                      

                      <div class="time_log_header">
                        <h6>Time Tracking</h6>
                      </div>
                      <div class="time_track_input">
                        <label for="input_time_track_value">Log time</label>
                        <input type="text" placeholder="Enter time here" class="form-control" id="input_time_track_value">
                      </div>
                      <div class="time_log_format">
                        <p>Use the format: 2w 4d 6h 45m</p>
                        <ul>
                          <li>w = weeks</li>
                          <li>d = days</li>
                          <li>h = hours</li>
                          <li>m = minutes</li>
                        </ul>
                      </div>
                      <div class="time_log_des">
                        <label for="time_log_work_description" class="form-label">Work Description</label>
                        <textarea class="form-control" id="time_log_work_description" rows="3"></textarea>
                      </div>
                      <div class="log_time_action_container">
                        <button type="button" class="btn btn-primary" onclick="updateLogTime();">Log</button>
                      </div>


                     </div>
                    </div>
                  </div>
                </div>
               






              </div>
            </div>
          </div>
          <div class="ticket_comment_sec">
            <div class="commetns_header">
              <h6>Activity</h6>
            </div>
            <div class="comment_sec_body">
              <div class="add_comment_box">
                <img src="/imgs/user.png" alt="user">
                <div class="comment_container">
                  <div class="input_container" id="input_container_id">
                    <input class="form-control" type="text" placeholder="Comment Here" aria-label="default input example" id="comment_imput_value" onfocus="handleInputBox();">
                    </div>
                    <div class="comment_action_box" id="comment_action_box">
                      <button type="button" class="btn btn-primary" onclick="saveComment();">Save</button>
                      <button type="button" class="btn btn-secondary" id="comment_close_btn">Cancel</button>
                    </div>
                </div>
                
               
              </div>


              <div id="user_coments_boxx">
                <!-- <div class="user_comment_box mt-3" id="comment_user_cont">
                  <img src="/imgs/user.png" alt="user">
                  <div class="user_comment_container" >
                    <p class="comment_user_name">user</p>
                    <p class="user_comments">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, nihil?</p>
                  </div>
                </div> -->
              </div>
             
             
              
           
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="updateEmpAssign()">Save changes</button>
        </div> -->
      </div>
    </div>





    <!-- Modal 5 -->
<div class="modal fade" id="assign_employee_modal" tabindex="-1" aria-labelledby="exampleModalLabel_assign_employee" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="update_assignee">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel_assign_employee">Update Assignee</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close_assign_modal"></button>
      </div>
      <div class="modal-body">
        <select name="Select Assignee" id="update_assigneee" value="select" class="form-select">
          
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close_assign_modal_btn">Close</button>
        <button type="button" class="btn btn-primary" onclick="updateAssignee();">Save changes</button>
      </div>
    </div>

  </div>
</div>




    <!-- Modal 6 -->
    <div class="modal fade" id="update_Time_employee_modal" tabindex="-1" aria-labelledby="exampleModalLabel_Time_employee" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" id="update_time">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel_Time_employee">Update Time</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close_time_modal"></button>
          </div>
          <div class="modal-body">
            <input type="datetime-local" id="update_estime_time_val" name="update_estime_time_val" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close_time_modal_btn">Close</button>
            <button type="button" class="btn btn-primary" onclick="updateTime();">Save changes</button>
          </div>
        </div>
      </div>
    </div>




      <!-- Modal 7 -->
      <div class="modal fade" id="update_statuss_modal" tabindex="-1" aria-labelledby="exampleModalLabel_status_modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" id="update_status">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel_status_modal">Update Status</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close_update_status_modal"></button>
            </div>
            <div class="modal-body">
              <!-- <input type="datetime-local" id="update_estime_time_val" name="update_estime_time_val" class="form-control"> -->

              <select class="form-select" aria-label="status update" id="user_update_status">
                <option value="Open">Open</option>
                <option value="Ready To Dev">Ready To Dev</option>
                <option value="Dev Start">Dev Start</option>
                <option value="Dev Done">Dev Done</option>
                <option value="In QA">In QA</option>
                <option value="QA Done">QA Done</option>
                <option value="Solved">Solved</option>
                <option value="Closed">Closed</option>
                <option value="Reopen">Reopen</option>









              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close_update_status_modal_btn">Close</button>
              <button type="button" class="btn btn-primary" onclick="updateStatus();">Save changes</button>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#assign_employee_modal">
  Launch demo modal
</button> -->


  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script> -->
  <script src="/js/ckEditor.js" type="text/javascript"></script>
  <script src="/js/ckFinder.js" type="text/javascript"></script>
  <script type="text/javascript">
    const Base_url = "<%= url %>";
    const token = "<%= usertoken %>";
    const userid = "<%= userid %>";
    const profile = "<%= profile %>";
    const username= '<%= username %>'
    /*
    var editor = new FroalaEditor('#ticket-description', {
      heightMin: 200,
      //flieUpload: false
      //toolbarButtons: ['insertFiles']
    });
    */
  </script>
  <script src="/js/validation.js"></script>
  <script src="/js/ticketController.js"></script>
</body>

</html>